.heroImage {
    height: 350px;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .heroImage {
        height: 300px;
    }
}

@media only screen and (max-width: 376px) {
    .heroImage {
        height: 250px;
    }
}

@media only screen and (max-width: 350px) {
    .heroImage {
        height: 200px;
    }
}