.goto {
    display: inline-block;
    color: #345995;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    padding: 22px;
    border: 2px solid #F7B538;
}

.goto:last-child {
    border-left: none; 
}

@media only screen and (max-width: 850px) {
    .goto {
        text-align: center;
        margin-right: 0px;
        padding: 18px;
        font-size: 30px;
        width: -webkit-fill-available;
    }

    .goto--container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px) {
    .goto {
        padding: 10px;
        font-size: 30px;
        text-align: center;
        width: -webkit-fill-available;
    }
}

@media only screen and (max-width: 420px) {
    .goto--container {
        flex-direction: column;
    }

    .goto:last-child {
        border-top: none;
        border-left: 2px solid #F7B538;
    }
}